<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>pagePiling.js plugin - Looping</title>
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="pagePiling.js plugin by Alvaro Trigo." />
	<meta name="keywords"  content="pile,piling,piling.js,stack,pages,scrolling,stacking,touch,fullpile,scroll,plugin,jquery" />
	<meta name="Resource-type" content="Document" />
    <link href="lib/bootstrap-css/css/bootstrap.css" rel="stylesheet">
    <link href="lib/jquery-ui/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    <link href="lib/pagePiling.js/jquery.pagepiling.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet">
    <script src="lib/jquery/dist/jquery.js"></script>
    <script  src="lib/pagePiling.js/jquery.pagepiling.js"></script>
	<script type="text/javascript">
		var deleteLog = false;
		$(document).ready(function() {
	    	$('#pagepiling').pagepiling({
	    		menu: '#menu',
	    		anchors: ['page1', 'page2', 'page3'],
			    sectionsColor: ['#51bec4', '#b84d45', '#2C3E50','#2C3E50'  ],
			    loopTop: true,
			    loopBottom: true
			});

	    	$("#submit").click(function(){
	    		submit_value();
	    	});
			function submit_value(){
				var story = $("#story").val();
				var email = $("#email").val();
				if(check_value(story, email)){
					var data = {
						summary:story,
						email:email
					};
					$.ajax({
						type:'post',
						url: '/review/sumaries',
						data: data,
						cache:false,
						dataType: 'json',
						success:function(data){
							window.location.href="http://localhost:5000/" + data.id;
						}
					})
				}
			};
			function check_value(story, email){
				return true;
			}
	    });


    </script>
</head>
<body>

	<div id="pagepiling">
		<div class="section" id="section2">
	    	
	    		<h1>我的 2014</h1>
				<p style="padding-top:20px;">{{ entity.summary }}</p>
	    	
	    </div>
	    <div class="section" id="section2">
	    	<h1>2014</h1>
			<p>经历了多少事情？</p>
			<p>走过了几处风景？</p>
			
	    </div>
	    <div class="section" id="section3">
	    	<div class="intro">
	    		<h1>2015</h1>
				<p>在还没有准备好的时候就来了，可是我却还没有准备好？那么就回忆一下吧。</p>
	    	</div>
	    </div>
	    <div class="section" id="section4">
	    	<div class="intro">
	    		<h1 style="font-size:50px;">分享你的2014</h1>
				<p>只用 140 字</p>
				<p>你将在 2014 年跨年时收到来自不同人的分享</p>
	    	</div>
	    	<div class="intro input-group" style="margin-top:20px;width:100%;" >
	    		<textarea name="" id="story"  placeholder="如：研究生过了第一年做了不少项目经历了亲人离开以及一段很长时间感情的终结最终爱上跑步廋了不少精进了吉他技术准备参与马拉松之后继续干活成长分享期待来年变得越来越好！" class="form-control" style="width:350px;height:100px;"></textarea>	
	    	</div>
	    	<div class="input-group intro" style="margin-top:20px;width:100%;">
	    			<input type="text" id="email" placeholder="我的邮箱" class="form-control" style="width:350px;margin:0 auto;">	
	    	</div>
	    	<div class="intro" style="margin-top:20px;">
	    		<button class="btn" id="submit" style="width:200px;">分享</button>
	    	</div>
	    	
	    </div>
	</div>

</body>
</html>
